<?xml version="1.0" encoding="EUC-KR"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>traffic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>
		util.SessionFilter
	</filter-class>
    <init-param>
      <param-name>avoid-urls</param-name>
      <param-value>/index.jsp,/resource/js/common/jquery-3.1.1.min.js,/resource/js/main/index.js,/resource/css/main/style.css,/Login.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>auth.service.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>auth.service.logoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getSinkhole</servlet-name>
    <servlet-class>sinkhole.service.getSinkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchSinkhole</servlet-name>
    <servlet-class>sinkhole.service.searchSinkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getDnsmonitor</servlet-name>
    <servlet-class>dnsmonitor.service.getDnsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchDnsmonitor</servlet-name>
    <servlet-class>dnsmonitor.service.searchDnsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SinkDBCPInit</servlet-name>
  	<servlet-class>sinkhole.service.SinkDBCPInit</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>DnsDBCPInit</servlet-name>
  	<servlet-class>dnsmonitor.service.DnsDBCPInit</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSinkhole</servlet-name>
    <url-pattern>/sinkhole/getSinkData.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchSinkhole</servlet-name>
    <url-pattern>/sinkhole/searchSinkData.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getDnsmonitor</servlet-name>
    <url-pattern>/dnsmonitor/getDnsData.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchDnsmonitor</servlet-name>
    <url-pattern>/dnsmonitor/searchDnsData.do</url-pattern>
  </servlet-mapping>
</web-app>